/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
#html-logo img {
  width: 100%;
  border: 3px solid aqua;
}
#html-logo {
  border: 3px solid violet;
  width: 50px;
  height: 55px;
  margin: 1.5%;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

@media screen and (min-width: 320px) {
  body {
    margin: 2% auto;
    padding: 0;
    width: 96%;
    font-size: 99%;
  }
  header {
    height: 17vh;
    padding-top: 2%;
  }
  header img {
    width: 50%;
  }
  header ul {
    display: flex;
    justify-content: center;
  }
  header ul li {
    margin-right: 3%;
  }
  table {
    max-width: 90%;
  }
  th {
    font-size: 90%;
  }
  iframe {
    max-height: 11vh;
  }
  section h2 {
    background-color: grey;
    margin: 4%;
  }
  input {
    width: 45%;
    font-size: 90%;
  }
  button {
    font-size: 90%;
  }
}

@media screen and (min-width: 576px), screen and (max-width: 768px) {
  h1 {
    display: inline-block;
    max-width: 60%;
    font-size: 3.5rem;
  }
  table {
    margin: 7% auto;
    width: 70%;
  }
  section h2 {
    width: 95%;
    margin: 3% auto;
  }
  section p {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  input {
    width: 80%;
    padding: 2%;
  }
  button {
    padding: 2%;
    width: 15%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  header {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 130px;
    margin-top: 5%;
  }
  header p {
    margin-top: 7%;
  }
  header div {
    display: flex;
    align-items: center;
  }
  header div {
    width: 40%;
    justify-content: space-evenly;
  }
  body {
    max-width: 75%;
    margin: 0 auto;
  }
  main {
    /* padding: 2em 1em; */
    margin-bottom: 1.5em;
  }
  h1 {
    font-size: 3.5rem;
  }
  section {
    /* padding: 1em; */
    margin-bottom: 2em;
  }
  /* TABELLE */
  table {
    margin: 7% auto;
    width: 60%;
  }
  iframe {
    width: 50vw;
    height: 100%;
  }
  section {
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.8rem;
  }
  section > h2 {
    background-color: rgb(179, 178, 178);
  }
  .flex-cont {
    display: flex;
    justify-content: center;
  }
  input {
    width: 70%;
    padding: 2%;
  }
  button {
    padding: 2%;
    width: 25%;
  }
  aside div {
    display: inline-block;
    width: 30%;
  }
  aside div:first-of-type {
    margin-left: 4%;
  }
  address {
    width: 55%;
    margin: 0 auto;
  }
}
